@font-face {
    font-family: '양진체';
    src: url('https://fastly.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

*{font-family: 'Pretendard-Regular'; font-size: 16px;}

.head-line{
    margin-top: 1em; text-align: center;  font-family: '양진체'; font-weight: bold; font-size: 3em;
} 

.menus{
    margin-top: 1em; display: flex; justify-content: center;
    flex-wrap: wrap; font-family: '양진체'; color: #333;
    border-top: 1px solid #ebebeb;
    border-bottom: 4px double #000;
}
.menus button{
    margin: 5px 10px; border: none; background: none;
}

.menus button:hover{
    background: beige;
}

.side-menu{
    height: 100%; width:0px; 
    position: fixed; z-index: 1;
    top: 0; left: 0;
    background-color: beige;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 40px;
}
#side-menu-list{display: flex; flex-flow: column wrap;}
#side-menu-list > button{border: none; background: none; font-size: 1em; color: #000;}

.news-img-size{
    max-width: 100%; max-height: 250px;
}

.news{
    border-bottom: 2px solid #000; padding: 1em 0;;
}

#input-area{display: none;}

.hide{
    display: none;
}

.pagination{display: flex; justify-content: center; margin: 1em 0;}

@media screen and (max-width:720px){
    .hide{display: inline;}
    #menu-list{display: none;}
    
}